<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Gamificando Algoritmos - Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../Lib/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/home.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  
	<ul id="dropdownLogueado" class="dropdown-content" style="width: 500px !important">
		<li><a href="#!">Mi Cuenta</a></li>
		<li><a href="#!">Mis Datos</a></li>
		<li><a href="#!">Mis Cursos</a></li>
		<li><a href="#!">Jugar</a></li>
		<li class="divider"></li>
		<li><a href="#!">Acerca de / Contacto</a></li>
	</ul>
  
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Gamificando Algoritmos</a>
      <ul class="right hide-on-med-and-down">
		<li><a href="#!">Ingresar</a></li>
      </ul>

	  <ul class="right hide-on-med-and-down">
		<li><a class="dropdown-trigger" href="#!" data-target="dropdownLogueado">Martin Rios<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
	  
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">¡Programá mientras jugás!</h1>
      <div class="row center">
        <h5 class="header col s12 light">Una novedosa manera de aprender a programar</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">¡Jugar!</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Acelera el aprendizaje</h5>

            <p class="light">Al incluir un lenguaje de programación en el aprendizaje, además de la algoritmia es necesario acostumbrarse a dicho lenguaje y sus propiedades. Aquí abstraemos eso haciendo la algoritmia el único problema a resolver</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Orientado a todo público</h5>

            <p class="light">No es necesario ningún conocimiento previo de programación para jugar, así como tampoco hay restricción de edad alguna. Si te interesa ¡Solo es necesario empezar!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Fácil de utilizar</h5>

            <p class="light">La programación en bloques está orientada a la facilidad de uso y adaptación, por lo que aprender a usar la herramienta resulta no mas que trivial.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">¿Quienes somos?</h5>
          <p class="grey-text text-lighten-4">Somos un equipo de estudiantes de la Licenciatura en Sistemas de la Universidad Nacional de Lanús que realizó esta aplicación en el marco de la materia 'Proyecto de Software'.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Miembros</h5>
          <ul>
            <li><a class="white-text" href="#!">Martin Rios</a></li>
            <li><a class="white-text" href="#!">Ignacio Oliveto</a></li>
            <li><a class="white-text" href="#!">Tomas Pereyra</a></li>
            <li><a class="white-text" href="#!">Luciano Otegui</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contacto</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <!-- <script src="../Lib/materialize/js/materialize.js"></script> -->
  <script src="../js/home.js"></script>

  </body>
</html>
