<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta http-equiv="encoding" content="ISO-8859-1" >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gamificando Algoritmos - Escenarios</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href={{ url_for('static', filename='Lib/materialize/css/materialize.css') }} type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href={{ url_for('static', filename='css/home.css') }} type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  {% include "header.html" %}

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Editar Curso</h1>
      <form class = "col s12">
          <div class="row center">
            <div class = "input-field col s8">
              <input placeholder = "Nombre" disabled  name="idCurso" type = "text" class = ""  id = "idCurso" value = "{{ curso.idCurso }}">
                </input>
              <label for = "nombre">Nombre</label>
           </div>
        </div>
        <div class="row center">
            <div class = "input-field col s8">
              <input placeholder = "Nombre" name="nombre" type = "text" class = "active validate"  id = "nombre" value = "{{ curso.nombre }}">
                </input>
              <label for = "nombre">Nombre</label>
           </div>
        </div>
        <div class="row center">
            <div class = "input-field col s6">
              <input placeholder = "Descripcion" name="descripcion" type = "text" class = "active validate"  id = "descripcion" value = "{{ curso.descripcion }}" >
                </input>
              <label for = "descripcion">Descripcion</label>
           </div>
        </div>
        <div class="row center">
          <div class = "input-field col s6">
              <input placeholder = "Cantidad Max. Bloques" name="cantBloquesMax" type = "text" class = "active validate" id = "cantBloquesMax"
                     value = "{{ curso.cantBloquesMax }}" >
              </input>
              <label for = "cantBloquesMax">Cantidad Max. Bloques</label>
           </div>
        </div>
        <div class="row center">
          <div class = "input-field col s6">
              <input placeholder = "Hint - Sugerencia" name="hint" id = "hint"
                     type = "text" class = "active validate"  value = "{{ curso.hint }}">
                </input>
              <label for = "hint">Hint</label>
           </div>
        </div>
      </form>
        <div class="row center">
          <div >
              <button id="actualizarCurso" type="button" class="btn waves-effect waves-light" name="actualizarCurso">¡Actualizar Datos!
                <i class="material-icons right">send</i>
              </button>

           </div>
        </div>
      <div class="row center">
        <h5 class="header col s12 light">¡Escenarios!</h5>
      </div>
      {% if curso.escenario|length > 0 %}
        <div class="row center">
          <h5 class="header col s12 light">¡Elige un escenario para editarlo!</h5>
        </div>
      <div class="row center">
          <div class="collection">
            {% for escenario in curso.escenario : %}
              {% set link = "http://localhost:5000/cursos/editarEscenario?idEscenario=" + escenario.idEscenario|string %}
              {% set puntaje = "Editar" %}
              {% set text = "<< " + escenario.descripcion + " >>" %}
              <a href={{ link }}  class="collection-item"><span class="badge">{{ puntaje }} </span><b> <font size="5">{{ text }} </font></b></a>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="row center">
          <h5 class="header col s12 light">¡Este curso no cuenta con Escenarios aún!</h5>
        </div>
      {% endif %}
      {% set linkAgregar = "http://localhost:5000/cursos/agregarEscenario?idCurso=" + curso.idCurso|string %}
      <div class="row center">
          <a href={{ link }}  class="collection-item"><span class="badge"> </span><b><font size="16"> <u>¡Agregar Escenario! </u></font></b></a>
      </div>

      <br><br>

    </div>
  </div>







  <!--  Scripts-->
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <script type="text/javascript" src={{ url_for('static', filename='Lib/jquery.js') }}></script> <!-- JQuery -->
  <script type="text/javascript" src={{ url_for('static', filename='Lib/materialize/js/materialize.js') }}></script> <!-- Materialize JS -->

  <script type="text/javascript" src={{ url_for('static', filename='js/editarCurso.js') }}></script>


  {% include "footer.html" %}

  </body>
</html>
