<footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">¿Quienes somos?</h5>
          <p class="grey-text text-lighten-4">Somos un equipo de estudiantes de la Licenciatura en Sistemas de la Universidad Nacional de Lanús que realizó esta aplicación en el marco de la materia 'Proyecto de Software'.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Miembros</h5>
          <ul>
            <li><a class="white-text" href="#!">Martin Rios</a></li>
            <li><a class="white-text" href="#!">Ignacio Oliveto</a></li>
            <li><a class="white-text" href="#!">Tomas Pereyra</a></li>
            <li><a class="white-text" href="#!">Luciano Otegui</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contacto</h5>
          <ul>
            <li><a class="white-text" href="#!">riosmartin93@gmail.com</a></li>
            <li><a class="white-text" href="#!">igoliveto@gmail.com</a></li>
            <li><a class="white-text" href="#!">pereyratomas18@gmail.com</a></li>
            <li><a class="white-text" href="#!">lucianootegui56@hotmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>