  <nav class="light-blue lighten-1" role="navigation">
    {% if user %}
        {% set username =  user %}
        <div class="nav-wrapper container"><a id="logo-container" href= {{ "http://localhost:5000?username=" ~ user }}  class="brand-logo">Gamificando Algoritmos</a>
    {% else %}
        {% set username =  None %}
        <div class="nav-wrapper container"><a id="logo-container" href="http://localhost:5000/" class="brand-logo">Gamificando Algoritmos</a>
    {% endif %}
        {% set resources_path_var = url_for('static', filename='') %}
        <input type="hidden" id="usernameField" name="username" value= {{ username }} >
        <input type="hidden" id="resources_path" name="resources_path" value= {{ resources_path_var }} >
        </input>
      <!-- Registered ul -->
        {% if user %}
        {% set urlMiCuenta = "http://localhost:5000/miCuenta" %}
        {% set urlExplorarCursos = "http://localhost:5000/cursos/" %}
        {% set urlMisCursos = "http://localhost:5000/cursos/misCursos" %}
        <ul id="dropdownLogueado" class="dropdown-content" style="width: 500px !important">

            <li><a href= {{ urlMiCuenta }}>Mi Cuenta</a></li>
            <li><a href= {{ urlMisCursos }}>Mis Cursos</a></li>
            <li><a href= {{ urlExplorarCursos }}>Jugar</a></li>
            <li class="divider"></li>
            <li><a href="http://localhost:5000/auth/logout">Salir</a></li>
            <li class="divider"></li>
            <li><a href="#!">Grupo 5 - Software inteligente</a></li>
	    </ul>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="#!" data-target="dropdownLogueado" style="width:300" ><b>{{ user }}</b><i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
	  {% else %}
      <!-- Login ul -->
          <ul class="right hide-on-med-and-down">
            <li><a href="http://localhost:5000/auth">Ingresar</a></li>
          </ul>
      {% endif %}
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>