<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta http-equiv="encoding" content="ISO-8859-1" >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gamificando Algoritmos - Mi Cuenta</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href={{ url_for('static', filename='Lib/materialize/css/materialize.css') }} type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href={{ url_for('static', filename='css/home.css') }} type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  {% include "header.html" %}
  
  {% if user and docente %}
  <center> <h1 class="header center orange-text">Información de Docente</h1> </center>
  <center>
    <table class = "centered stripped" style="width:600px">

       <tbody>
          <tr>
             <td>Nombre</td>
             <td>{{ docente.nombre }}</td>
          </tr>

          <tr>
             <td>Apellido</td>
             <td>{{ docente.apellido }}</td>
          </tr>

          <tr>
             <td>Fecha de Nacimiento</td>
             <td>{{ docente.fechaNacimiento }}</td>
          </tr>

          <tr>
             <td>Email</td>
             <td>{{ docente.email }}</td>
          </tr>

          <tr>
             <td>Nombre de Usuario</td>
             <td>{{ docente.username }}</td>
          </tr>
       </tbody>
    </table>

          <br>
          {% if error %}
          <center><label><h5 color="red">{{ error }}</h5></label></center>
         <br>
         {% endif %}
         <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modificar datos</a>
         <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Cambiar contraseña</a>
        <!-- Modal Structure -->
           <div id="modal1" class="modal">
             <form action="/miCuenta/editarCuenta" id="formEditar" method="GET">
               <div class="modal-content">
                 <h4>Editar Cuenta</h4>
                 <div class="row">
                   <div class="col s12">
                     <div class="row">
                        <div class="input-field col s12">
                            <input type="text" id="autocomplete-input" name="username" class="autocomplete" value="{{docente.username}}">
                            <input type = "hidden" name="idusuario" value="{{docente.getId()}}">
                            <label for="autocomplete-input">Nombre de Usuario</label>
                        </div>
                     </div>
                   </div>
                 </div>

                 <div class="row">
                    <div class="col s12">
                       <div class="row">
                         <div class="input-field col s12">

                           <input type="text" id="autocomplete-input" name="email" class="autocomplete" value="{{docente.email}}">
                           <label for="autocomplete-input">Email</label>
                         </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col s12">
                       <div class="row">
                         <div class="input-field col s12">

                           <input type="text" id="autocomplete-input" name="nombre" class="autocomplete" value="{{docente.nombre}}">
                           <label for="autocomplete-input">Nombre</label>
                         </div>
                       </div>
                    </div>
                 </div>
                  <div class="row">
                    <div class="col s12">
                       <div class="row">
                         <div class="input-field col s12">

                           <input type="text" id="autocomplete-input" name="apellido" class="autocomplete" value="{{docente.apellido}}">
                           <label for="autocomplete-input">Apellido</label>
                         </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col s12">
                       <div class="row">
                         <div class="input-field col s12">

                           <input type="date" id="autocomplete-input" name="fechaNacimiento" class="autocomplete" value="{{docente.fechaNacimiento}}">
                           <label for="autocomplete-input">Fecha de Nacimiento (AAAA-MM-DD)</label>
                         </div>
                       </div>
                    </div>
                 </div>
               </div>

                <div class="modal-footer">
                      <button class="btn waves-effect waves-light" type="submit" name="editar">Editar
                      <i class="material-icons right">send</i>
                      </button>
                </div>
             </form>
           </div>
  </center>
          <!-- Modal Structure -->
           <div id="modal2" class="modal">
             <form action="/miCuenta/cambiarContrasena" id="formEditar" method="POST">
               <div class="modal-content">
                 <h4>Cambiar contraseña</h4>
                   {% if error %}
                    <center><label><font color="red">{{ error }}</font></label></center>
                    {% endif %}
                 <div class="row">
                   <div class="col s12">
                     <div class="row">
                        <div class="input-field col s12">

                            <input type="password" id="autocomplete-input" name="contrasenaActual" class="autocomplete">
                            <input type = "hidden" name="idusuario" value="{{docente.getId()}}">
                            <label for="autocomplete-input">Contraseña Actual</label>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                    <div class="col s12">
                       <div class="row">
                         <div class="input-field col s12">

                           <input type="password" id="autocomplete-input" name="contrasenaNueva" class="autocomplete">
                           <label for="autocomplete-input">Contraseña Nueva</label>
                         </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col s12">
                       <div class="row">
                         <div class="input-field col s12">

                           <input type="password" id="autocomplete-input" name="contrasenaConfirmacion" class="autocomplete">
                           <label for="autocomplete-input">Confirmar Contraseña</label>
                         </div>
                       </div>
                    </div>
                 </div>
               </div>
                <div class="modal-footer">
                      <button class="btn waves-effect waves-light" type="submit" name="editar">Cambiar
                      <i class="material-icons right">send</i>
                      </button>
                </div>
             </form>
           </div>

    <center> <h1 class="header center orange-text">Estadísticas</h1> </center>

    <center>
      <table class = "centered stripped" style="width:600px">

         <tbody>
            <tr>
               <td>Cursos Creados</td>
                {% if cursos | length >0 %}
                 {% set cantidad = cursos|length|string %}
                  <td>{{cantidad}}</td>
                 {% else %}
                <td>0</td>
                {% endif %}

            </tr>

            <tr>
               <td>Escenarios Creados</td>
               <td>YYY</td>
            </tr>


         </tbody>
       </table>
      </center>
  {% else %}
      <center> <h1 class="header center orange-text">¡Error al procesar!</h1> </center>
  {% endif %}




  <!--  Scripts-->
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <script type="text/javascript" src={{ url_for('static', filename='Lib/jquery.js') }}></script> <!-- JQuery -->
  <script type="text/javascript" src={{ url_for('static', filename='Lib/materialize/js/materialize.js') }}></script> <!-- Materialize JS -->

  <script type="text/javascript" src={{ url_for('static', filename='js/home.js') }}></script>
<script>
$(document).ready(function(){
$('.modal').modal(); });
</script>

  {% include "footer.html" %}

  </body>
</html>
