<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta http-equiv="encoding" content="ISO-8859-1" >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gamificando Algoritmos - Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href={{ url_for('static', filename='Lib/materialize/css/materialize.css') }} type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href={{ url_for('static', filename='css/home.css') }} type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  {% include "header.html" %}
  
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Cursos Disponibles</h1>
      {% if cursos|length > 0 %}
        <div class="row center">
          <h5 class="header col s12 light">¡Elegí el curso que querés explorar!</h5>
        </div>
        <div class="row center">
          <div class="collection">
            {% for curso in cursos: %}
              {% print(username) %}
            {% if docente %}
              {% set link = "http://localhost:5000/cursos/editar?&idCurso=" + curso.idCurso|string %}
            {% else %}
              {% set link = "http://localhost:5000/cursos/jugar?&idCurso=" + curso.idCurso|string %}
            {% endif %}

              {% set nroEscenarios = curso.escenario|length|string %}
              {% set text = "<< " + curso.nombre + " >>" %}
            <a href={{ link }}  class="collection-item"><span class="badge"> {{ nroEscenarios }} escenarios</span><b> {{ text }} </b></a>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="row center">
          <h5 class="header col s12 light">¡No se encontraron cursos!</h5>
        </div>
      {% endif %}
        <!-- Modal Trigger -->
         <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Crear curso!</a>

        <!-- Modal Structure -->
           <div id="modal1" class="modal">
             <form action="/cursos/agregarCurso" id="formCurso" method="GET">
               <div class="modal-content">
                 <h4>Nuevo Curso</h4>


                 <div class="row">
                   <div class="col s12">
                     <div class="row">
                        <div class="input-field col s12">
                         <i class="material-icons prefix">title</i>
                            <input type="text" id="autocomplete-input" name="nombre" class="autocomplete">
                            <label for="autocomplete-input">Nombre</label>
                        </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                    <div class="col s12">
                       <div class="row">
                         <div class="input-field col s12">
                           <i class="material-icons prefix">textsms</i>
                           <input type="text" id="autocomplete-input" name="descripcion" class="autocomplete">
                           <label for="autocomplete-input">Descripcion</label>
                         </div>
                       </div>
                    </div>
                 </div>
                 <div class="row">
                   <div class="col s12">
                     <div class="row">
                       <div class="input-field col s12">
                         <select name = "juego">
                          <option value="" disabled selected>Elije el juego</option>
                           {% if juegos | length >0 %}
                           {% for juego in juegos: %}
                           {% set idjuego = juego.getId() %}
                           {% set nombre = juego.getNombre() %}
                           <option value={{ idjuego }} > {{ nombre }}</option>
                           {% endfor %}
                           {% endif %}

                         </select>
                         <label>Juego</label>
                       </div>

                      </div>
                   </div>
                 </div>
                 <p>
                   <label>
                    <input type="checkbox" />
                    <span>Se puede saltear</span>
                   </label>
                 </p>
                </div>

                <div class="modal-footer">
                      <button class="btn waves-effect waves-light" type="submit" name="agregar">Agregar
                      <i class="material-icons right">send</i>
                      </button>
                </div>

             </form>
           </div>
         <br><br>
    </div>
</div>







  <!--  Scripts-->
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <script type="text/javascript" src={{ url_for('static', filename='Lib/jquery.js') }}></script> <!-- JQuery -->
  <script type="text/javascript" src={{ url_for('static', filename='Lib/materialize/js/materialize.js') }}></script> <!-- Materialize JS -->

  <script type="text/javascript" src={{ url_for('static', filename='js/home.js') }}></script>
<script>
$(document).ready(function(){
$('.modal').modal(); });
</script>
<script>
$(document).ready(function(){
$('select').formSelect();
});
</script>

  {% include "footer.html" %}

  </body>
</html>
